img {
     width:400px;
     height:450px;
}
body {
    background-color:pink;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    color:black;
}
h2 {
     color:black;
}
ul { 
     color:black;
}
p {
    color:black;
}
a { 
    color:black;
}